@import url(CSS/font.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.887);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(240, 240, 240);
    width: 100%;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.887);
}

.App .content {
    display: flex;
    justify-content: center;
}

:root {
    --Sansita: "Sansita", cursive;
    --Courgette: "Courgette", cursive;
    --Abel: "Abel", cursive;
    --Livvic: "Livvic", cursive;
    --Poppins: "Poppins", cursive;
    --Averia_Serif_Libre: "Averia_Serif_Libre", cursive;
    --Bangers: "Bangers", cursive;
    --Be_Vietnam: "Be_Vietnam", cursive;
    --Kaushan_Script: "Kaushan_Script", cursive;
    --Special_Elite: "Special_Elite", cursive;
    --Roboto: "Roboto", cursive;
    --East_Sea_Dokdo: "East_Sea_Dokdo", cursive;
    --Amaranth: "Amaranth", cursive;
    --Neon: "Neon", cursive;
    --Montserrat1: "Montserrat1", cursive;
    --Montserrat2: "Montserrat2", cursive;
    --Montserrat3: "Montserrat3", cursive;
    --Gabarito: "Gabarito", cursive;
}

* {
    scrollbar-face-color: #4d208c;
    /* color of the scrollbar */
    scrollbar-track-color: #f1f1f1;
    /* color of the track */
}

nav {
    position: fixed;
    min-height: 7vh;
    width: 100%;
    padding: 2rem 3rem;
    z-index: 100;
    color: white;
    z-index: 100;
}

.nav-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
}

.brand-name img {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}

.hamburger-lines button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13px;
    top: 48%;
    right: 4%;
}

.hamburger-lines button .line {
    display: block;
    height: 2px;
    width: 39px;
    transition: width 0.3s;
}

.nav-content .nav-links {
    background-color: rgb(24, 24, 24);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100dvh;
    padding-top: 3.4rem;
    text-align: center;
    transition: all .6s ease-in-out;
    z-index: -1;
}

.nav-content .nav-links .nav-items {
    margin-bottom: 1rem;
}

.nav-links {}

.nav-links .nav-items a {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--Poppins);
    color: rgb(145, 145, 145);
}

.nav-links .nav-items a:hover {
    color: rgb(235, 235, 235);
    transition: all 0.3s ease-in-out;
}

.nav-links .nav-items a:hover~.nav-content .nav-links {
    background-color: red;
}

.nav-items-h4 {
    font-size: .9rem;
    font-weight: 800;
    font-family: var(--Poppins);
    color: rgb(145, 145, 145);
    margin-bottom: .1px;
}

.socials h5 {
    font-size: .9rem;
    font-weight: 800;
    font-family: var(--Poppins);
    color: rgb(145, 145, 145);
}

.social-icons i {
    font-size: 1.2rem;
    color: rgb(145, 145, 145);
    margin: 2rem;
}

.social-icons .icon-a i:hover {
    color: #60a3fb;
    transition: all.3s ease-in-out;
}

.social-icons .icon-b i:hover {
    color: #f8f8f8;
    transition: all.3s ease-in-out;
}

.social-icons .icon-c i:hover {
    color: #d274fa;
    transition: all.3s ease-in-out;
}

.social-icons .icon-d i:hover {
    color: #74aafa;
    transition: all.3s ease-in-out;
}

.home {
    height: auto;
    margin-bottom: 1.8rem;
}

.home-content {
    display: flex;
    justify-content: center;
    margin: 0 5rem;
    flex-wrap: wrap;
    padding-top: 7rem;
}

.home-content .home-img {
    position: absolute;
    height: 0;
    object-fit: contain;
}

.home-content .home-img img {
    height: 1100px;
    margin-left: 24%;
    margin-top: -18%;
}


/* .home-content {
    
} */

.hometext {
    padding-top: 2rem;
}

.hometext h1 {
    font-size: 5rem;
    font-family: Poppins;
    font-weight: 900;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: -1.6rem;
    color: #4d208c;
    z-index: 1100;
}

.hometext h2 {
    font-size: 3.35rem;
    font-family: Poppins;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
}

.hometext .text-p {
    font-size: 1.2rem;
    max-width: 56%;
    text-align: justify;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.688);
    letter-spacing: .0.1px;
}

.home-btn {
    position: relative;
    font-family: var(--Poppins);
    background-color: #fec93f;
    padding: .6rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 10px 10px #2828272d;
    margin-bottom: 5rem;
    color: rgb(35, 35, 35);
    z-index: 5;
}

.home-btn:hover {
    box-shadow: 0px 0px #2828272d;
    transition: all 0.2s ease-in-out;
}

.home-content .text-extra {
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.534);
}

.home-content .text-extra span {
    font-size: 1.5rem;
    padding: 0 .8rem;
}

.about {
    background-color: rgba(24, 24, 24, 0.986);
    padding: 5.5rem 0;
}

.about-content {
    display: flex;
    justify-content: center;
    margin: 0 4.5rem;
    flex-wrap: wrap;
}

.about-content .ab {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ab .about-box {
    width: 100%;
    align-items: center;
}

.ab .about-box.left {
    width: 50%;
    align-items: center;
}

.ab .about-box.right {
    width: 50%;
    align-items: center;
}

.about-box.right .about-text {
    float: left;
}

.about-box.right .about-text h1 {
    font-size: 5rem;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -2px;
    margin: 0;
    color: #ffffffbc;
}

.about-box.right .about-text p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.616);
    letter-spacing: .0.1px;
}

.ab .about-box.left img {
    height: 560px;
    width: 610px;
    align-items: center;
    margin-top: -6rem;
}

.about-btn {
    position: relative;
    font-family: var(--Poppins);
    background-color: #fec93f;
    padding: .6rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 10px 10px #efefef25;
    margin-bottom: 2rem;
    color: rgb(35, 35, 35);
    z-index: 5;
}

.about-btn:hover {
    box-shadow: 0px 0px #2828272d;
    transition: all 0.2s ease-in-out;
}

.p-purple {
    padding: 0 .3rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.753);
}

.a-social-icons i {
    font-size: 1.2rem;
    color: rgba(242, 242, 242, 0.76);
    margin-right: 3rem;
}

.who {
    color: black;
}

.who-content {
    display: flex;
    justify-content: center;
    margin: 0 5rem;
    flex-wrap: wrap;
}

.who-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.who-container .who-box {
    align-items: center;
}

.who-box {
    width: 30%;
}

.who4 {
    margin: 2rem;
    padding: 0 1.4rem;
    font-size: 0.7rem;
    font-family: var(--Poppins);
    font-weight: bold;
}

.who2 {
    color: #421972;
    font-size: 1.5rem;
    font-family: var(--Montserrat3);
    font-weight: 100;
}

.who4,
.who2 {
    margin: 13px 0;
}

.who3 {
    font-size: 0.7rem;
    font-family: var(--Poppins);
    font-weight: light;
    line-height: 1.5rem;
    text-align: justify;
}